/* You can add global styles to this file, and also import other style files */
// @import "~ng-zorro-antd/ng-zorro-antd.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img,
svg {
  vertical-align: unset;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
